<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* Basic Settings */
      html,
      body {
        height: 100%;
        margin: 0;
      }

      body {
        align-content: center;
      }

      .ctr {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;
      }

      /* Day?? Styles */
    </style>
  </head>
  <body>
    <!-- 400 * 400 ctr canvas -->
    <div class="ctr"></div>
  </body>
</html>
